<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
  	<% include partials/template/header.ejs %> <!-- header -->
    <section class="layout">
		<div class="primary">
			<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.
			</div>
		</div><!-- primary -->
		<aside class="secondary">
			<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.
			</div>
		</aside><!-- secondary -->
	</section><!-- layout -->
    <% include partials/template/footer.ejs %> <!-- footer -->
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
